comtypes;platform_system=="Windows"
messytables
minimock
nose
psycopg2-binary
pytest
pytest-cov
pyyaml
requests
requests_futures
setuptools
orjson
six
sqlalchemy
sqlalchemy-greenplum
sqlalchemy-hana
toolz
tornado
unicodecsv
urllib3
xlrd
