bleach
comtypes;platform_system=="Windows"
databend_sqlalchemy
messytables@git+https://github.com/PlaidCloud/messytables.git@master#egg=messytables
packaging
psycopg2-binary
pyarrow
PyJWT
PyYAML
requests
requests-futures
setuptools
orjson
SQLAlchemy
sqlalchemy-greenplum
#sqlalchemy-hana  # moved to test dependencies
#starrocks  # moved to test dependencies
toolz
urllib3
